{% include "svg.njk" %}
{% include "header.njk" %}

<div class="container-xxl py-4 mx-auto"
     data-bs-spy="scroll"
     data-bs-target="#navbarSupportedContent"
     data-bs-smooth-scroll="true">

    <section>{% include "carousel.njk" %}</section>
    <section>{% include "stanovi.njk" %}</section>
    <section>{# parkirna_mjesta.hbs#}</section>
    <section>{# spremista.hbs#}</section>
    <section>{# kontakt.hbs#}</section>
    {% include "footer.njk" %}
</div>
