{% include "svg.njk" %}
{% include "header.njk" %}

<div class="container-xxl py-4 mx-auto"
     data-bs-spy="scroll"
     data-bs-target="#navbarSupportedContent"
     data-bs-smooth-scroll="true">

    <section>{% include "carousel.njk" %}</section>
    <section>{% include "stanovi.njk" %}</section>
    <section>{% include "parkirna_mjesta.njk" %}</section>
    <section>{% include "spremista.njk" %}</section>
    <section>{% include "kontakt.njk" %}</section>
    {% include "footer.njk" %}
</div>
