<hr class="mt-5 mb-3">
<h2 id="kontakt">
    <i class="bi-person"></i>
    Kontakt</h2>
<div class="row container">
    <div class="col-lg-4 pt-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header fs-4">
                <i class="bi-envelope-at"></i>
                Email</div>
            <div class="card-body">
                <p>
                    <a type="button" class="btn btn-lg btn-secondary" href="mailto:prodaja@plandevet.hr">
                        prodaja@plandevet.hr
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 pt-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header fs-4">
                <i class="bi-telephone"></i>
                Telefon</div>
            <div class="card-body">
                <p>
                    <a type="button" class="btn btn-lg btn-secondary" href="tel:+385916253102">
                        Verner: 091 / 62 53 102
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 pt-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header fs-4">
                <i class="bi-geo-alt"></i>
                PLAN DEVET d.o.o.</div>
            <div class="card-body">
                <p>
                    Videkovići 26b<br/>
                    10431 Sveta Nedelja<br/>
                </p>
                <p>
                    OIB: ‭17007954884‬<br/>
                    IBAN: HR0324840081135198764
                </p>
            </div>
        </div>
    </div>
</div>
