<!DOCTYPE html>
<html lang="hr" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Šumske vile</title>
    <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg">
    <link rel="icon" type="image/png" href="favicon/favicon.png">

    {% include "bootstrap_cdn.html" %}
    <style>{% include "styles.css" %}</style>
  </head>
  <body>
    {{ content | safe }}
    <script>{% include "bootstrap_config.js" %}</script>
    <script>{% include "color_theme.js" %}</script>
  </body>
</html>
