<tr>
<!--
  <td class="text-nowrap">
    <a href="#" cla ss="link-danger" data-bs-toggle="modal" data-bs-target="#modal-stan-{{code}}">
      {{stan.stan}}
    </a>
  </td>
  <td class="text-center">{{kat}}</td>

  <td class="text-center">{{soba}}</td>
  <td class="text-center">{{prodajno}}</td>
  <td class="text-center">
    {{> "_email.hbs" subject="Upit za stan" id=stan }}
  </td>

  <td class="text-center">{{sobe}}</td>
  <td class="text-center">{{boravak}}</td>
  <td class="text-center">{{kuhinja}}</td>
  <td class="text-center">{{kupaonica}}</td>

  <td class="text-center">{{loggia}}</td>
  <td class="text-center">{{terasa}}</td>
  <td class="text-center">{{vrt}}</td>

  <td class="text-center">{{ukupno}}</td>
  <td class="text-center">{{prodajno}}</td>
-->
</tr>
